@import "./style.less";

.header-container {
  color: @sand;
  border-left: 1px solid @sand;
  overflow: scroll;
}

.header {
  color: @lilac;
  font-size: 3em;
}

.cta {
  text-decoration: underline @lilac;
  text-decoration-thickness: 8px;
}
