@import "./style.less";

.landing-page {
  text-transform: uppercase;
  font-size: 1.25em;
  position: relative;
}

.landing-navbar .page:hover {
  color: @lilac;
  cursor: pointer;
}

.social-media {
  color: @lilac;
}

.social-media .media:hover {
  color: @charcoal;
  cursor: pointer;
}

.bio-container {
  border-bottom: 1px solid black;
  overflow: hidden;
  height: 3em;
  text-transform: none;
}
