@import "./style.less";

.process-container {
  background: @sand;
  height: 80vh;
  color: @charcoal;
  margin: 2em 2em;
  padding: 1em;
}

.title-container {
  justify-content: center;
}

.title-container .title {
  color: @charcoal;
  font-size: 3em;
}
