@lilac: #D3CBE5;
@warm-grey: #544D4E;
@charcoal: #423C3D;
@sand: #F6EDE9;

.viewer {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  background: white;

  /* scroll-snap */
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.landing-page:nth-child(1) {
  background-color: @lilac;
  color: white;
}

.landing-page:nth-child(2) {
  background-color: @charcoal;
  color: white;
}

.landing-page:nth-child(3) {
  background-color: #fff;
}

.landing-page:nth-child(4) {
  background-color: #fff;
}

.bg-accent {
  background: @lilac;
}

.bg-white {
  height: 100vh;
  color: black;
}

.container {
  background: @sand;
  height: 80vh;
  color: @charcoal;
}

img {
  max-width: 400px;
}

.nav-bar {
  text-transform: uppercase;
}

.social-media {
  text-transform: uppercase;
  color: @lilac;
}

body>div {
  font-family: 'Gotu', sans-serif;
}

.bio {}
