mixin highlight_reel()
  #highlightIndicators.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img(src='/assets/flower.png' alt='First slide')
      .carousel-item
        img(src='/assets/surprise.jpg' alt='Second slide')
      .carousel-item
        img(src='/assets/orange.svg' alt='Third slide')
    ol.carousel-indicators
      li.active(data-target='#highlightIndicators' data-slide-to='0')
      li(data-target='#highlightIndicators' data-slide-to='1')
      li(data-target='#highlightIndicators' data-slide-to='2')

.scroll-page
  .row.h-100.w-100
    .d-flex.flex-column.col-md-5
      +highlight_reel()
    .d-flex.flex-column.col-md-7.text-right.justify-content-end.bg-white.landing-page
      .d-flex.flex-column.landing-navbar
        text.page Graphic Design
        text.page Illustration
        text.page Augmented Reality
        text.page Animation
        text.page About Me
      .d-flex.flex-row.my-2.justify-content-end.social-media
        text.media Youtube |
        text.media Instagram |
        text.media E-mail
      .d-flex.flex-column
        text.bio Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
    
      