mixin highlight_reel()
  #highlightCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#highlightCarousel' data-slide-to='0')
      li(data-target='#highlightCarousel' data-slide-to='1')
      li(data-target='#highlightCarousel' data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        img(src='/assets/flower.png' alt='First slide')
      .carousel-item
        img(src='/assets/yay.jpg' alt='Second slide')
      .carousel-item
        img(src='/assets/camera.svg' alt='Third slide')
    a.carousel-control-prev(href='#highlightCarousel' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#highlightCarousel' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next

.scroll-page
  .row
    .d-flex.flex-column.col-md-5
      +highlight_reel()
    .d-flex.flex-column.col-md-7.text-right.bg-white
      h1 A
      .d-flex.nav-bar.flex-column
        text Graphic Design
        text Illustration
        text Augmented Reality
        text Animation
        text About Me
      .d-flex.flex-row.my-2.social-media.justify-content-end
        text Youtube | 
        text  Instagram |  
        text  E-mail
      .bio
        text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 

