mixin highlight_reel()
  #highlightIndicators.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img(src='/assets/flower.png' alt='First slide')
      .carousel-item
        img(src='/assets/surprise.jpg' alt='Second slide')
      .carousel-item
        img(src='/assets/orange.svg' alt='Third slide')
    ol.carousel-indicators
      li.active(data-target='#highlightIndicators' data-slide-to='0')
      li(data-target='#highlightIndicators' data-slide-to='1')
      li(data-target='#highlightIndicators' data-slide-to='2')


.scroll-page
  .row.h-100.w-100
    .d-flex.flex-column.col-md-5
      +highlight_reel()
    .d-flex.flex-column.col-md-7.text-right.justify-content-end.bg-white
      h1 A
      .d-flex.nav-bar.flex-column
        text.element Graphic Design
        text.element Illustration
        text.element Augmented Reality
        text.element Animation
        text.element About Me
      .d-flex.flex-row.my-2.social-media.justify-content-end
        text Youtube | 
        text  Instagram |  
        text  E-mail
      .bio
        text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
    .row.border-bottom.align-items-end.mb-5

